@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dela Gothic One', cursive;
    font-size: 30px;
    text-transform: uppercase;
}

/* Header */

.miLogo {
    width: 150px;
}

.miFondo {
    background-color: white;
}

.miLink:hover {
    background-color: black;
    color: red;
    margin: 20px;
}

/* Inicio */

.imgInicial {
    margin: 10px;
    width: 100%;
    justify-content: center;
}

p {
    margin: 10px;
    font-family: 'Anton', sans-serif;
    text-transform: none;
}

.link-texto {
    color: aliceblue;
    text-decoration: none;
    background-color: blue;
    border-radius: 0.8rem;
    font-size: 22px;
}

.spotify {
    margin: 5px;
}