@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    text-transform: uppercase;
}

/* Header */

.miLogo {
    width: 150px;
}

.miFondo {
    background-color: white;
}

.miLink:hover {
    background-color: black;
    color: red;
    margin: 20px;
}

/* Inicio */

h1,
h2,
h4 {
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

h4, h3 {
    font-family: 'Dela Gothic One', cursive;
    margin: 40px;

}

p {
    font-size: 27px;
    margin: 10px;
    font-family: 'Anton', sans-serif;
    text-transform: none;
    text-align: center;
}

.bio {
    margin: 30px;
    text-align: left;
    font-family: 'Young Serif', serif;
    font-size: 22px;
}

.link-texto {
    color: aliceblue;
    text-decoration: none;
    background-color: blue;
    border-radius: 0.8rem;
    font-size: 25px;
}

.spotify {
    margin: 5px;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 30%;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 40px;
    margin-bottom: 15px;
}

.concierto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-bio {
    display: block;
    text-align: left;
}

.text {
    margin: 10px auto;
}


/* imagenes */

.imagen-bio {
    margin: 15px;
    margin-left: 10px;
    max-width: 300px;
    height: auto;
    float: right;
}

@media screen and (max-width: 768px) {
    .container-bio {
        text-align: center;
        /* Cambiar el texto al centro en pantallas más pequeñas */
    }

    .text {
        max-width: 100%;
        /* Hacer que el texto ocupe el ancho completo en pantallas más pequeñas */
    }

    .imagen-bio {
        float: none;
        /* Eliminar el flotante en pantallas más pequeñas */
        margin: 10px auto;
        /* Centrar la imagen en pantallas más pequeñas */
    }
}

.imgInicial {
    margin: 10px;
    width: 100%;
    border-radius: 20px;
}


/* Galeria */

.galeria {
    border-radius: 10px;
    width: 100%;
}

.row {
    margin: 0 0.50px 0 0.50px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    padding: 5px;
}

.column .galeria {
    margin-top: 5px;
}

@media (max-width: 600px){

    .column{
        flex: 100%;
    }

}


/* footer */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #24262b;
    padding: 80px 0;
}

 .footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: calc(33.33% - 15px);
    padding: 0 15px;
    color: #00c3ff;
    text-align: left;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links .foteer {
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links .foteer:hover {
    color: #ffffff;
    padding-left: 6px;
}

.social-link a {

    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
} 

.social-link a:hover {
    background-color: red;
}

@media (max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* ul.horizontal-list {
    list-style-type: none;
    padding: 0;
}

ul.horizontal-list li {
    display: inline;
    margin-right: 20px;
}

ul.horizontal-list li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

ul.horizontal-list li a i {
    margin-right: 5px;
}

ul.horizontal-list li a:hover {
    color: #007bff;
} */