@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dela Gothic One', cursive;
    font-size: 20px;
    text-transform: uppercase;
}

/* Header */

.miLogo {
    width: 150px;
}

.miFondo {
    background-color: white;
}

.miLink:hover {
    background-color: black;
    color: red;
    margin: 20px;
}

/* Inicio */

h1,
h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.imgInicial {
    margin: 10px;
    width: 100%;
    border-radius: 20px;
}

p {
    font-size: 25.50px;
    margin: 10px;
    font-family: 'Kanit', sans-serif;
    text-transform: none;
    text-align: center;
}

.link-texto {
    color: aliceblue;
    text-decoration: none;
    background-color: blue;
    border-radius: 0.8rem;
    font-size: 25px;
}

.spotify {
    margin: 5px;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 30%; /* Proporción 16:9 para videos de YouTube */
    width: 80%; /* Ancho deseado del contenedor */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    border-radius: 40px;
}

.concierto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */
ul.horizontal-list {
    list-style-type: none;
    padding: 0;
}

ul.horizontal-list li {
    display: inline;
    margin-right: 20px;
}

ul.horizontal-list li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

ul.horizontal-list li a i {
    margin-right: 5px;
}

ul.horizontal-list li a:hover {
    color: #007bff;
}

