.bio {
    margin: 30px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
  }
  
  .container-bio {
    display: block;
    text-align: left;
  }
  
  .text {
    margin: 10px auto;
  }
  
  /* imagenes */
  
  .imagen-bio {
    margin: 15px;
    margin-left: 10px;
    max-width: 300px;
    border-radius: 10px;
    height: auto;
    float: right;
  }
  