$color-ffffff: #ffffff;
$color-verdecito: #15cf8a;
$color-gris:  #999;
$color-negro:  #000;
$color-grisoscuro:  #24262b;
$color-celestito: #00c3ff;
$color-rojo: red;
$color-alice: aliceblue;
$color-azul: blue;